[submodule "services/backend"]
	path = services/backend
	url = https://github.com/iRead-B105/iRead-backend.git
	branch = develop
[submodule "services/frontend"]
	path = services/frontend
	url = https://github.com/iRead-B105/iRead-frontend.git
	branch = develop
[submodule "services/ai"]
	path = services/ai
	url = https://github.com/iRead-B105/iRead-ai.git
	branch = develop
