[submodule "services/backend"]
	path = services/backend
	url = https://github.com/iRead-B105/iRead-backend.git
	branch = develop
[submodule "services/frontend"]
	path = services/frontend
	url = https://github.com/iRead-B105/iRead-frontend-web.git
	branch = develop
[submodule "services/ai"]
	path = services/ai
	url = https://github.com/iRead-B105/iRead-ai.git
	branch = develop
[submodule "services/app"]
	path = services/app
	url = https://github.com/iRead-B105/iRead-frontend-app.git
	branch = develop
[submodule "services/eyetracking"]
	path = services/eyetracking
	url = https://github.com/iRead-B105/iRead-eyetracking.git
	branch = develop
